<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.2.xsd">

	
    <http auto-config="true" use-expressions="true">
   <!--  <intercept-url pattern="/login" access="permitAll"/>
      
        <intercept-url pattern="/welcome" access="permitAll"/>
        
           <intercept-url pattern="/registration" access="permitAll"/>
                      <intercept-url pattern="/test" access="permitAll"/>
                                 <intercept-url pattern="/hostdetail/**/" access="permitAll"/>
                                  <intercept-url pattern="/roomdetail*" access="permitAll"/>
  <intercept-url pattern="/profile" access="permitAll"/> -->
        <form-login login-page="/login" 
         authentication-failure-url="/login?error" username-parameter="username" password-parameter="password"
           authentication-success-handler-ref="myAuthenticationSuccessHandler" /> 
        <logout logout-success-url="/login?logout" />
        <csrf disabled="true"/>
    </http>
	 <beans:bean id="myAuthenticationSuccessHandler"
        class="com.ssm.ashrayanepal.security.MySimpleUrlAuthenticationSuccessHandler"/> 
 
    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="userServiceImpl">
            <password-encoder ref="encoder"></password-encoder>
        </authentication-provider>
    </authentication-manager>
    
    
	<!-- <beans:bean id="httpFirewall"
      class="org.springframework.security.web.firewall.StrictHttpFirewall"
      p:allowSemicolon="true"/>
<http-firewall ref="httpFirewall">
</http-firewall> 
</beans:bean>-->

    <beans:bean id="userServiceImpl" class="com.ssm.ashrayanepal.service.UserDetailsServiceImpl"></beans:bean>

    <beans:bean id="encoder"
          class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
        <beans:constructor-arg name="strength" value="11"/>
    </beans:bean>
</beans:beans>